<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/Me.jpeg">
    <p>My name is Thomas Gatley. I am 25 years old and I just started programming, I really enjoy it so far!
        I also am a private pilot as you can tell from the picture above. See you later!
    </p>
    </div>

    {{>footer}}
</body>

</html> 